.fade-enter-active {
  transition: opacity 1s ease-in;
}
.fade-enter-active {
  opacity: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

body {


        background-image: url("images/moody-logo-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 25% 15%;

}

.card {
  background-color: #dbe2db80;
  text-align: center;
}

h4 {
  font-weight: bold;
}

.second-container {
  text-align: center;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
}
p{
  font-weight: bold;
}
